@use '../abstracts/variables' as *;
@use 'sass:map';


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: map.get($fonts, heading);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: map.get($colors, primary);
    transition: color 0.3s ease;

    &:hover {
        color: map.get($colors, primary-dark);
    }
}